body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: relative;
    height: 280px;
    overflow: hidden;
}

nav img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 60%;
}

nav h1 {
    margin: 0;
    text-align: center;
    font-family: 'Intel+One+Mono', monospace;
    padding: 5px 75px;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    color: white;
    font-size: 2.5em;
}

.nav-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    display: flex;
    gap: 10px;
}  

.nav-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
}

.box h2 {
    font-size: 2em;
    align-items: center;
    text-align: center;
}

.desc1, .desc2, .desc3, .desc4 {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    background-color: rgba(118, 97, 97, 0.5);
    padding: 10px;
    border-radius: 13px;
    font-size: large;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    text-align: center;
    max-width: 1100px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.08);
}

.box img {
    border: rgba(255, 255, 255, 0.5) 5px solid;
    max-width: 80%;
    border-radius: 15px;
}

.box2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.box2 h1 {
    font-size: 2em;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.box2 ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box2 li {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    background-color: rgba(118, 97, 97, 0.5);
    padding: 15px;
    font-size: large;
    border-radius: 13px;
    border: 1px solid black;
    list-style: none; 
}

.box2 li h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.p2 {
    position: relative;
    top: 15px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 10px;
    font-size: large;
    border-radius: 13px;
    margin-bottom: 30px;
}
