.conteudo {
    background-image: url('Gemini_Generated_Image_dygel9dygel9dyge.png');
    background-size: cover;
    background-position: center;
    min-height: 110vh;
}

.background {
    background-color: rgba(255, 12, 12, 0.5);
}


body {
    background-color: black;
}




nav {
    position: relative;
    height: 280px;
    overflow: hidden;
}



nav img {
 position: absolute;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center 90%;
}

.container{
    position: relative;
    top: -31px
}


nav h1 {
    margin: 0;
    text-align: center;
    font-family: 'Intel+One+Mono', monospace;
    padding: 5px 75px;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    color: white;
    font-size: 2.5em;
}


.nav-links {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: space-around;
        background-color: rgba(11, 109, 255, 0.5);
        padding: 10px 20px;
        display: flex;
        gap: 10px;
    }  


.nav-links a {
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
}


.container h1 {
    text-align: center;
    font-family: 'Intel One Mono', monospace;   
    color: rgba(8, 0, 255, 0.5)
}

.container p {
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 1.2em;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding: 10px;
}

.container img {
    display: block;
    margin: 40px auto;
    max-width: 50%;
    height: auto;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.cards1 {
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(34, 6, 6, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.cards2 {
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(34, 6, 6, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cards3 {
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(34, 6, 6, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cards4 {
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(34, 6, 6, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.imagem {
    width: 100%;
    display: block;
    margin: 20px auto;
    max-width: 110%;
    height: auto;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);


}